:root {
  --btn-color: #404bbf;
  --iris-color: #4d5ae5;
  --navi-blue-color: #2e2f42;
  --cloud-color: #f4f4fd;
  --slate-color: #434455;
}

@media screen and (max-width: 1157px) {
  .features-cont-icon {
    display: none;
  }

  .section-eg {
    display: none;
  }
}

/* and (min-width: 428px) */
@media screen {
  .container {
    max-width: 400px;
  }

  .nav-list {
    display: none;
  }

  .address {
    display: none;
  }

  .our-team > .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
  }

  .address {
    display: flex;
  }

  .address-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-left: 120px;
  }

  .menu-toggle {
    display: none;
  }

  .hero-title {
    font-size: 56px;
    line-height: 107%;
  }

  .hero {
    /* background-color: var(--navi-blue-color); */
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tab.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tab-2x.jpg);
    }
  }

  .features-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .features-list-item {
    gap: 24px;
    width: calc((100% - 24px) / 2);
  }

  .our-team > .container {
    max-width: 582px;
  }

  .our-team-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .our-team-item {
    width: calc((100% - 40px) / 2);
  }

  .container-customers {
    max-width: 582px;
  }

  .customers-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 72px;
  }

  .customers-item {
    height: 88px;
    width: calc((100% - 56px) / 3);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
  }

  .logo-footer {
    margin: 0 auto;
    margin-bottom: 16px;
    display: inline-block;
  }

  .title-par-footer {
    /* margin-right: 108px;
    margin-bottom: 72px; */
    margin: 0 0 72px 0;
  }

  .footer-media {
    align-items: baseline;
    margin: 0;
  }

  .soc-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    display: block;
  }

  .sub-par {
    margin-bottom: 16px;
    display: inline-block;
    justify-content: center;
  }

  .sub-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .footer-container {
    width: 582px;
  }

  .footer-form {
    /* display: flex; */
    flex-direction: row;
    width: 100%;
  }

  .footer-form input {
    width: 264px;
  }

  .subscribe {
    margin: 0;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    margin-right: auto;
    margin-left: auto;
  }

  .address {
    font-style: normal;
    margin-left: auto;
  }

  .address-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .hero {
    /* background-color: var(--navi-blue-color); */
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* max-width: 1440px; */
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tab-2x.jpg);
    }
  }

  .features-list-item {
    gap: 24px;
    width: calc((100% - 72px) / 4);
  }

  .feature-name {
    font-weight: 700;
    line-height: 1.1em;
    /* identical to box height, or 120% */
    letter-spacing: 0.02em;
    color: var(--navi-blue-color);
    margin-bottom: 8px;
  }

  .our-team > .container {
    max-width: 1158px;
  }

  .our-team-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .our-team-item {
    width: calc((100% - 80px) / 4);
  }

  .customers-list {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
  }

  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-item {
    height: 88px;
    width: calc((100% - 30px) / 4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: baseline;
    flex-wrap: nowrap;
    margin: 0 auto;
  }

  .title-par-footer {
    margin-right: 40px;
  }

  .footer-title {
    width: 260px;
    font-size: 18px;
    /* max-width: 280px; */
  }
}
